.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 810px) {
  .om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-direction: column; */
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
  }
  .logo {
    width: 70px;
  }
  header .logo a {
    font-size: 0.5rem;
    align-items: start;
    -ms-flex-item-align: start;
  }
  h1 {
    color: #fe630f;
    font-weight: 600;
    font-size: 100px;
    margin-left: 15%;
  }
  /* //////Protjekt side///// */
  .grid_protjekt {
    row-gap: 15%;
  }
  /* ////////Emne 2////////////// */
  .grid_website {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
    margin-bottom: 41px;
    margin-top: 71px;
  }

  .grid_solnedgang {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
    margin-bottom: 41px;
    margin-top: 160px;
    border-top: #fe630f solid 2px;
  }
  .grid_mood {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
  }

  /* /////////Emen 3///////// */

  .grid_emne3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
    margin-bottom: 41px;
    margin-top: 160px;
  }
  /* //////Emne 4 ///// */
  .grid_spil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
    margin-bottom: 41px;
    margin-top: 71px;
  }
  .grid_joystick {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 30px;
    margin-bottom: 41px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex_spil {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .grid_baby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: -57px;
    margin-left: 473px;
    width: 25%;
    margin-bottom: -93px;
  }
  .spil_box_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
    background-color: #b7e7f2;
  }
  .spil_box_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #b7e7f2;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    margin-bottom: 150px;
  }
  .spil_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #b7e7f2;
    gap: 20px;
    margin-bottom: 150px;
    margin-top: -38px;
  }

  /* ///////Emne 5//// */
  .grid_passion_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 30px;
    margin-left: 30px;
    gap: 20px;
    margin-bottom: 41px;
    margin-top: 160px;
  }
  .grid_redesign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 50px;
    margin-left: 50px;
    gap: 20px;
  }
}
