img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main {
  margin-left: 10px;
  margin-right: 10px;
}
link {
  color: #0b3c91;
  font-weight: 600;
  font-size: 20px;
  background-color: #ea917a;
  border-radius: 30%;
  border: solid 2px #ea917a;
  padding: 10px;
}
/* ////////////Header //////// */
header .logo a {
  font-size: 0.5rem;
  align-items: start;
  -ms-flex-item-align: start;
}
logo {
  width: 20px;
}
header {
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  margin-bottom: 10px;
  background-color: white;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 50px;
  overflow-x: auto;
  height: 100%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ul {
  position: center;
  color: #0b3c91;
}
a {
  text-decoration: none;
  color: #0b3c91;
  font-size: 16px;
  justify-content: space-between;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-weight: 90;
}

/* //////////Footer/////// */
.sol {
  width: 30%;
  height: auto;
  display: block;
  margin-left: 10%;
  margin-top: -17%;
}

/* //////////////Forside //////////////// */
.forside_billede {
  width: 80%;
  height: auto;
  display: block;
  margin-left: 10%;
  margin-top: -17%;
}
/* /////////Om mig//////////////// */

.cv_box {
  background-color: #accae3;
  padding-bottom: 600px;
  padding-top: 10px;
}
/* ////////Tema 2 */

.emnesite_box {
  /* background-color: #accae3; */
  padding-top: 10px;
}
.website_box {
  /* background-color: #accae3; */
  padding-bottom: 103px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.logoer_emne2 {
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50%;
  background-clip: padding-box;
}
.computer_web {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.computer_web_stor {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.image_container_2 {
  position: relative;
  display: inline-block;
}

.image_link_2 {
  position: absolute;
  top: 81%;
  left: 51%;
  transform: translate(-50%, -50%);
  background-color: none;
  padding: 8px 0px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  font-size: 20px;
  background-color: whitesmoke;
  border: solid 4px black;
  padding: 10px;
}

.image_link_2:hover {
  background-color: #accae3;
}
/* ////////Protjekt ////// */
.protjekt_computer {
  width: 80%;
}
.grid_protjekt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5%;
  position: absolute;
  top: 28%;
  left: 25%;
  padding: 0 5% 0 5%;
}
.grid_tema2 {
  grid-column: 1;
  grid-row: 1;
  width: 30%;
}
.grid_tema3 {
  grid-column: 2;
  grid-row: 1;
  width: 30%;
}
.grid_tema4 {
  grid-column: 1;
  grid-row: 2;
  width: 30%;
}
.grid_tema5 {
  grid-column: 2;
  grid-row: 2;
  width: 30%;
}
/* ////////////Tema 3/////////// */

.billede_3 {
  width: 100%;
  height: auto;
  margin-left: auto;
  transition: transform 0.1s linear;
}
.billede_4 {
  width: 100%;
  height: auto;
  margin-left: auto;
}
.pitch_box {
  width: 82%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 50%;
  background-clip: padding-box;
}
.billede_pitch {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image_container {
  position: relative;
  display: inline-block;
}

.image_link {
  position: absolute;
  top: 28%;
  left: 47%;
  transform: translate(-50%, -50%);
  background-color: none;
  color: #f2e546;
  padding: 8px 0px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.image_link:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* /////////Tema 4////// */
.spil_billede {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.joystick {
  width: 13%;
  height: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12%;
}

.tekst_spil {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 20px;
  margin-right: 42px;
  font-size: 11px;
}
.spil_css_1 {
  width: 100%;
  margin-top: 10%;
}
.spil_css_2 {
  width: 57%;
  height: 96%;
  margin-top: 6.5%;
}
.baby_1 {
  width: 100%;
}
.baby_2 {
  width: 100%;
}
.kodning_billeder_1 {
  width: 102%;
  margin-top: 22px;
  margin-bottom: 22px;
}
.kodning_billeder_2 {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
}

/* ///////Tema 5////////// */

.linje {
  border-right: #fe630f 1px solid;
  padding-right: 85px;
}

/* ////////Typografier//////// */
h1 {
  color: #fe630f;
  font-weight: 600;
  font-size: 73px;
  margin-left: 15%;
}
h2 {
  color: #0b3c91;
  font-weight: 600;
  font-size: 40px;
}
h3 {
  color: #fe630f;
  font-weight: 100;
  font-size: 20px;
}
p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-left: auto;
  margin-right: auto;
}
/* ///////////Animationer på ting ///////////// */
.billede {
  width: auto;
  height: auto;
  transition: transform 2s ease-in-out;
}
.billede_pitch {
  transition: transform 2s ease-in-out;
}
